// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

pre {
    display: block;
    font-family: "Nunito", sans-serif;
    font-size: 100%;
    white-space: pre-wrap;
}
